@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.see-content {
    transition: all ease-in-out 0.2s;
}

@keyframes anim-image-banner {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.image-banner.animate {
    animation: anim-image-banner 1s ease-in-out forwards;
    position: relative;
}

.skeleton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: spin 1s linear infinite;
    z-index: 1;
}